$color-bg: #f5f6fa;
$color-primary: #182C61;
$color-success: #44bd32;
$color-success-hover: #4cd137;
$white: #fff;

$font-main: 'Roboto', sans-serif;
$container-max: 1024px;

$breakpoint-tablet: 1023px;
$breakpoint-mobile: 767px;